<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <title>Claude Bot</title>
</head>
<body>
    <div class="form-box">
        <h1>ESCOLHA A PLATAFORMA</h1>
        <form action="http://127.0.0.1:5000/netflixvoice" method="POST">
            <div class="img-logos">
                <label for="netflix-form">
                <img src="{{ url_for('static', filename='netflix-logo.png') }}" >
                </label>
                <input type="submit" name="netflix-form" id="netflix-form" style="display: none;">
            </div>
        </form>
        
        <form action="http://127.0.0.1:5000/amazonvoice" method="POST">
            <div class="img-logos">
                <label for="amazon-form">
                    <img src="{{ url_for('static', filename='amazon-logo.png') }}">
                </label>
                <input type="submit" name="amazon-form" id="amazon-form" style="display: none;">
        </form>
    </div>
</body>
</html>
